<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Animation -->
      <package
            uri="http://animation/1.0"
            class="dk.dtu.se2.tutorials.tutorial6.animation.animation.AnimationPackage"
            genModel="model/Animation.genmodel"/>
   </extension>

</plugin>
