<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated animation -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="animation.presentation.AnimationModelWizardID"
            name="%_UI_AnimationModelWizard_label"
            class="animation.presentation.AnimationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AnimationModelFile.gif">
         <description>%_UI_AnimationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated animation -->
      <editor
            id="animation.presentation.AnimationEditorID"
            name="%_UI_AnimationEditor_label"
            icon="icons/full/obj16/AnimationModelFile.gif"
            extensions="animation"
            class="animation.presentation.AnimationEditor"
            contributorClass="animation.presentation.AnimationActionBarContributor">
      </editor>
   </extension>

</plugin>
