<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.popupMenus">
     
      <objectContribution
      		id="Configuration.startSimulationContribution"
            objectClass="configuration.Configuration"
            >
       
         <action
         	   id="Configuration.startSimulation"
               label="Start simulation"
               class="dk.dtu.se2.configuration.action.StartSimulation"
               enablesFor="1"
               >
         </action>
      </objectContribution>
   </extension>
</plugin>
