<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Geometry2nd -->
      <package
            uri="http://geometry2nd/1.0"
            class="geometry2nd.Geometry2ndPackage"
            genModel="model/Geometry2nd.genmodel"/>
   </extension>

</plugin>
