<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="SE2 Tutorials"
            id="dk.dtu.imm.se2.tutorials">
      </category>
      <view
            name="Filetype View"
            icon="icons/sample.gif"
            category="dk.dtu.imm.se2.tutorials"
            class="dk.dtu.imm.se2.filetypeview.views.FileTypeView"
            id="dk.dtu.imm.se2.filetypeview.views.FileTypeView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="dk.dtu.imm.se2.filetypeview.views.FileTypeView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
