<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Petrinet -->
      <package
            uri="http://petrinet/1.0"
            class="petrinet.PetrinetPackage"
            genModel="model/Petrinet.genmodel"/>
   </extension>
   
   <extension point = "org.eclipse.ui.popupMenus">
     <objectContribution
        id="dk.dtu.se2.tutorial2"
        objectClass="petrinet.Transition">
	    <action id="dk.dtu.se2.tutorial2.fireTransition"
	       label="Fire transition"
	       class="popup.FireTransitionDelegate">	
	    </action>
	 </objectContribution>
	</extension>
	 

</plugin>
