<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      
      <category
         name="Petri Net Validation"
         id="org.pnml.tools.epnk.validation">
      </category>
   
   		<constraintProvider cache="true">
         <package
               namespaceUri="http://org.pnml.tools/epnk/pnmlcoremodel">
         </package>

         <constraints categories="org.pnml.tools.epnk.validation">

           <constraint
                  lang="Java"
                  class="dk.dtu.se2.petrinet.constraints.ArcValidator"
                  severity="ERROR"
                  mode="Live"
                  name="Arc constraint"
                  id="dk.dtu.se2.petrinet.constraints.ArcValidator"
                  statusCode="103">
               <target class="Arc"/>
               <description>
                  The source and the target of an arc must be different types of nodes.
               </description>
               <message>
                  The source and target of {0} are of the same type of node.
               </message>
            </constraint>
            
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
